<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="end center">
    <button type="button" rounded="true" mdbBtn (click)="openModal()"
            color="dark" class="relative waves-light" mdbWavesEffect>
      <mdb-icon fas icon="user-plus" class="mr-1"></mdb-icon>Create</button>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
    <table fxFlex="calc(60%-5px)" mdbTable #tableEl="mdbTable" class="z-depth-1 w-auto">
      <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeList; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{employee.id}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.age}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.salary}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <div class="action-column" fxLayout="row" fxLayoutAlign="center center">
            <button mdbBtn color="danger" size="sm" rounded="true" mdbWavesEffect type="button" class="m-0" (click)="deleteData(employee)">
              <mdb-icon fas icon="trash" class="mr-1"></mdb-icon>Delete
            </button>
            <button mdbBtn color="dark" size="sm" rounded="true" mdbWavesEffect type="button" class="m-0" (click)="openModal(employee)">
              <mdb-icon fas icon="edit" class="mr-1"></mdb-icon>Edit
            </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="headElements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
    <div style="display: block" fxFlex="calc(40%-5px)">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
