<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="end center">
    <button type="button" rounded="true" mdbBtn (click)="openModal()"
            color="dark" class="relative waves-light" mdbWavesEffect>Create Employee</button>
  </div>
  <table mdbTable #tableEl="mdbTable" class="z-depth-1">
    <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employeeList; let i = index">
      <th (click)="openModal(employee)" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
          scope="row">{{employee.id}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.name}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.age}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{employee.salary}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
        <button mdbBtn color="danger" size="sm" mdbWavesEffect type="button" class="m-0" (click)="deleteData(employee)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="5">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="headElements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
