<div class="modal-header unique-color-dark">
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRf.hide()">
  <span aria-hidden="true">×</span>
</button>
  <h4 *ngIf="isNewEmployee" class="modal-title w-100" id="employeeModalLabelNew">
    <span>Create a new Employee</span>
  </h4>
  <h4 *ngIf="!isNewEmployee" class="modal-title w-100" id="employeeModalLabel">
    <span>Employee: {{this.employee.name}}</span>
  </h4>
</div>
<div class="modal-body">
  <form [formGroup]="elForm" fxLayout="column" fxLayoutAlign="space-around stretch">
    <!-- Name -->
    <div class="md-form mb-5">
      <input type="text" id="name" mdbValidate class="form-control" mdbInput formControlName="name" required/>
      <label for="name">Enter your name</label>
      <mdb-error *ngIf="elForm.get('name').invalid && (elForm.dirty || elForm.touched)">Required field!</mdb-error>
      <mdb-success *ngIf="elForm.get('name').valid && (elForm.dirty || elForm.touched)">Nice name!</mdb-success>
    </div>
    <div class="md-form mb-5">
      <input type="number" id="age" class="form-control" mdbValidate mdbInput formControlName="age" required/>
      <label for="age">Enter your age</label>
      <mdb-error *ngIf="elForm.get('age').invalid && (elForm.dirty || elForm.touched)">Required field!</mdb-error>
      <mdb-success *ngIf="elForm.get('age').valid && (elForm.dirty || elForm.touched)">Nice age!</mdb-success>
    </div>
    <div class="md-form mb-5">
      <input type="number" id="salary" class="form-control" mdbValidate mdbInput formControlName="salary" required/>
      <label for="salary">Enter your salary</label>
      <mdb-error *ngIf="elForm.get('salary').invalid && (elForm.dirty || elForm.touched)">Required field!</mdb-error>
      <mdb-success *ngIf="elForm.get('salary').valid && (elForm.dirty || elForm.touched)">Nice Salary!</mdb-success>
    </div>
  </form>
</div>
<div class="modal-footer unique-color">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <!-- Easy Placeholder -->
    <div></div>
    <button *ngIf="isNewEmployee" type="submit" mdbBtn color="dark" size="md" rounded="true" class="relative waves-light"
            mdbWavesEffect (click)="addEmployee()" [disabled]="elForm.invalid">Create</button>
    <button *ngIf="!isNewEmployee" type="submit" mdbBtn color="dark" size="md" rounded="true" class="relative waves-light"
            mdbWavesEffect (click)="saveEmployee()" [disabled]="elForm.invalid">Save</button>
  </div>
</div>
